.login_input {
    background-color: white;
    /*border-radius: 8px;*/
    border-color: rgba(0, 0, 0, 0);
    height: 44px;
    font-size: 17px;
    line-height: 1.29412;
    font-weight: 400;
    letter-spacing: -.021em;
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.login_button {
    background-image: url(../image/enter.png);
    background-size: cover;
    width: 25px;
    height: 25px;
}

.login_button:hover {
    cursor: pointer;
}