@charset "utf-8";
/* CSS Document */

.timeline {
    font-size: 12px;
    margin: 0;
    padding: 0;
}

.timeline * {
    margin: 0;
    padding: 0;
}

.timeline li {
    list-style: none;
}

.timeline a {
    text-decoration: none;
}

.timeline {
    background: url(../image/timeline-line.png) repeat-y 10px;
    width: 120px;
    float: left;
    min-width: 120px;
}

.year li .year-button {
    cursor: pointer;
    background: url(../image/timeline-bg.png) 0px -175px no-repeat;
    height: 25px;
    padding-left: 22px;
    margin-left: 8px;
    line-height: 25px;
}

.year li .year-button:hover {
    background: url(../image/timeline-bg.png) 0px -29px no-repeat
}

.year > .active .year-button {
    background: url(../image/timeline-bg.png) 0px 0px no-repeat;
    color: #FFF;
}

.year > .active .year-button:hover {
    background: url(../image/timeline-bg.png) 0px 0px no-repeat;
    color: #FFF;
}

.month {
    display: none;
    margin-left: 7px;
}

.active > .month {
    display: block
}

.month > li {
    cursor: pointer;
    height: 25px;
    padding-right: 25px;
    line-height: 25px;
    text-align: right;
}

.month > li a {
    color: #000000;
    padding-right: 5px;
}

.month > li.active {
    background: url(../image/timeline-bg.png) 0px -89px no-repeat;
}

.month > li.active a {
    color: #FFF;
}

.month > li:hover {
    background: url(../image/timeline-bg.png) 0px -119px no-repeat;
}

.month > li.active:hover {
    background: url(../image/timeline-bg.png) 0px -89px no-repeat;
}
