<!DOCTYPE html>
<html lang="zh">

<link href="/static/css/rg_base.css?ver={{css_ver}}" rel="stylesheet" type="text/css" id="rg_base">
<link href="/static/css/rg_config.css?ver={{css_ver}}" rel="stylesheet" type="text/css" id="rg_config">
<link href="/static/css/edit_blog.css?ver={{css_ver}}" rel="stylesheet" type="text/css">
<link href="/static/simditor/vs2015.min.css?ver={{css_ver}}" rel="stylesheet" type="text/css">

<script type="text/javascript" src="/static/jquery/jquery.min.js?ver={{js_ver}}"></script>
<script type="text/javascript" src="/static/simditor/highlight.min.js?ver={{js_ver}}"></script>

<!--<link href="https://cdn.bootcss.com/highlight.js/9.12.0/styles/vs2015.min.css?ver={{css_ver}}" rel="stylesheet">-->
<!--<script type="text/javascript" src="https://cdn.bootcss.com/highlight.js/9.12.0/highlight.min.js?ver={{js_ver}}"></script>-->
<script>hljs.initHighlightingOnLoad();</script>

<!--simditor-->
<link rel="stylesheet" type="text/css" href="/static/simditor/styles/simditor.css?ver=1"/>
<style>
    .simditor {
        border: 0px solid #c9d8db;
    }
    .simditor-body {
        padding: 22px 0px 0px;
    }
    .simditor-body img, .editor-style img {
        margin: 0px;
    }
    .simditor-body img {
        cursor: pointer;
        background-color: rgba(0,0,0,0.1);
        /*background-image: url("/static/image/IMG_Loading.gif");*/
        background-position: center;
    }
    .simditor-body pre code, .editor-style pre code {
        background-color: #1E1E1E;
        border-radius: 5px;
        padding: 15px;
    }
    .art-other-detail-info {
        display: inline;
        margin-right: 18px;
        color: #9b9b9b;
        /*font-size: 12px;*/
        /*font-weight: 400;*/
    }
</style>

<script type="text/javascript" src="/static/simditor/scripts/mobilecheck.js?ver={{js_ver}}"></script>
<script type="text/javascript" src="/static/simditor/scripts/module.js?ver={{js_ver}}"></script>
<script type="text/javascript" src="/static/simditor/scripts/hotkeys.js?ver={{js_ver}}"></script>
<script type="text/javascript" src="/static/simditor/scripts/uploader.js?ver={{js_ver}}"></script>
<script type="text/javascript" src="/static/simditor/scripts/simditor.js?ver={{js_ver}}"></script>

<!--bg-->
<script type="text/javascript" src="/static/js/rg_base.js?ver={{js_ver}}"></script>
<script type="text/javascript" src="/static/js/bgLayout.js?ver={{js_ver}}"></script>
<!--time-->
<script type="text/javascript" src="/static/js/timeUtil.js?ver={{js_ver}}"></script>

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=1.0, user-scalable=yes"/>
    <title>{{art.title}}</title>
    <script>
        bg_layout_init()
        this.ubg = "{{user.bgImage}}"
        function edit(e) {
            window.location.href = '/blog/edit/' + e.id
        }
        function del(e) {
            if (confirm('Are you sure to delete this blog 👋')) {
                $.ajax({
                    type: 'POST',
                    dataType: "json",
                    url: "/blog/del",
                    data: {
                        'id': e.id
                    },
                    success: function (result) {
                        if (result.code === 1000) {
                            window.location.href = '/'
                        }
                    },
                    error: function () {

                    },
                })
            }
        }
    </script>
</head>
<body>
<div class="boprt a-control" style="top: 20px; opacity: 1;">
    <ul>
        <li>
            <form><a href="{% if home %}/{% else %}/blog/{{art.user_id}}{% endif %}" class="boprt01" target="_top"><em>主页</em></a></form>
        </li>
        {% if home %}
        <li>
            <form><a onclick="edit(this)" id="{{art.id}}" class="boprt09" target="_top"><em>编辑</em></a></form>
        </li>
        <li>
            <form><a onclick="del(this)" id="{{art.id}}" class="boprt08" target="_top"><em>删除</em></a></form>
        </li>
        {% elif not authed %}
        <li>
            <a href="/" class="boprt01" target="_top"><em>登陆</em></a>
        </li>
        {% endif %}

    </ul>
</div>

<div class="page_wrapper">
    <div class="articleWrapper">
        {% if art %}
        {% if art.title %}
        <div class="auto_text editorTitleDiv">{{art.title}}</div>
        {% else %}
        <div style="margin-top: 10px"></div>
        {% endif %}
        <div class="auto_text timeLabel">
            <script>
                var timeStamp = {{art.addtime}}
                var time = (new Date(timeStamp)).Format("yyyy年 MM月 dd日 hh:mm:ss")
                document.write(time);
            </script>
        </div>
        <div class="auto_text timeLabel">
            {% if art.logicCate == 0 %}
                所有人可见
            {% elif art.logicCate == 1 %}
                仅好友可见
            {% elif art.logicCate == 2 %}
                仅自己可见
            {% endif %}
        </div>

        <div class="auto_text timeLabel" style="margin-bottom: 10px;">
            <div class="art-other-detail-info">
            {% if art.group_name %}
                {{art.group_name}}
            {% else %}
                默认分类
            {% endif %}
            </div>
            {% if art %}
            <div class="art-other-detail-info">{{art.read_count}}阅读</div>
            <!--<div class="art-other-detail-info">0评论</div>-->
            {% endif %}
        </div>

        <div class="separator"></div>
        <div class="simditor simditor-body">
            {{art.content|safe}}
        </div>
        {% else %}
        <div class="nothing"><a style="background-color: rgba(255,255,255,0.3);">内容不见了</a></div>
        {% endif %}
    </div>
</div>
<script>
    $('img').on('click', function(e) {
        window.open('/photo/original?src=' + e.target.src.originalRGSrc())
    });
</script>
</body>
</html>
