<!DOCTYPE html>
<html lang="zh">

<link href="/static/css/rg_base.css" rel="stylesheet" type="text/css">
<link href="/static/css/edit_blog.css" rel="stylesheet" type="text/css">

<script type="text/javascript" src="/static/jquery/dist/jquery.min.js"></script>

<!--simditor-->
<link rel="stylesheet" type="text/css" href="/static/simditor/styles/simditor.css"/>
<style>
    .simditor .simditor-body img, .editor-style img {
        margin: 0px;
    }
    .simditor .simditor-wrapper {
        background: rgba(0, 0, 0, 0);
    }
    .simditor {
        border: 0px solid #c9d8db;
    }
    .simditor .simditor-body {
        padding: 22px 0px 0px;
    }
    .simditor .simditor-body img {
        cursor: auto;
        background-color: rgba(0,0,0,0.1);
        background-image: url("/static/image/IMG_Loading.gif");
        background-position: center;
    }
</style>

<script type="text/javascript" src="/static/simditor/scripts/mobilecheck.js"></script>
<script type="text/javascript" src="/static/simditor/scripts/module.js"></script>
<script type="text/javascript" src="/static/simditor/scripts/hotkeys.js"></script>
<script type="text/javascript" src="/static/simditor/scripts/uploader.js"></script>
<script type="text/javascript" src="/static/simditor/scripts/simditor.js"></script>

<!--bg-->
<script type="text/javascript" src="/static/js/rg_base.js"></script>
<script type="text/javascript" src="/static/js/bgLayout.js"></script>
<!--time-->
<script type="text/javascript" src="/static/js/timeUtil.js"></script>

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=1.0, user-scalable=yes"/>
    <title>{{art.title}}</title>
    <script>
        this.ubg = "{{user.bgImage}}"
        function edit(e) {
            window.location.href = '/blog/edit/' + e.id
        }
        function del(e) {
            if (confirm('Are you sure to delete this blog 👋')) {
                $.ajax({
                    type: 'POST',
                    dataType: "json",
                    url: "/blog/del",
                    data: {
                        'id': e.id
                    },
                    success: function (result) {
                        if (result.code == 1000) {
                            window.location.href = '/'
                        }
                    },
                    error: function () {

                    },
                })
            }
        }
    </script>
</head>
<body>
<div class="boprt a-control" style="top: 20px; opacity: 1;">
    <ul>
        <li>
            <form><a href="{% if home %}/{% else %}/blog/{{art.user_id}}{% endif %}" class="boprt01" target="_top"><em>主页</em></a></form>
        </li>
        {% if home %}
        <li>
            <form><a onclick="edit(this)" id="{{art.id}}" class="boprt09" target="_top"><em>编辑</em></a></form>
        </li>
        <li>
            <form><a onclick="del(this)" id="{{art.id}}" class="boprt08" target="_top"><em>删除</em></a></form>
        </li>
        {% endif %}
    </ul>
</div>

<div class="page_wrapper">
    <div class="articleWrapper">
        {% if art %}
        <div class="auto_text editorTitleDiv ">{{art.title}}</div>
        <div class="auto_text timeLabel">
            <script>
                var timeStamp = {{art.addtime}}
                var time = (new Date(timeStamp)).Format("yyyy年 MM月 dd日 hh:mm:ss")
                document.write(time);
            </script>
        </div>
        <div class="auto_text timeLabel">
            {% if art.cate == 0 %}
                所有人可见
            {% elif art.cate == 1 %}
                仅好友可见
            {% elif art.cate == 2 %}
                仅自己可见
            {% endif %}
        </div>

        <div class="auto_text timeLabel" style="margin-bottom: 10px;">
            日志分类：
            {% if art.group_name %}
                {{art.group_name}}
            {% else %}
                默认分类
            {% endif %}
        </div>

        <div class="separator"></div>
        <div class="simditor">
            <div class="simditor-wrapper">
                <div class="simditor-body">
                    {{art.content|safe}}
                </div>
            </div>
        </div>
        {% else %}
        <div class="nothing">内容不见了</div>
        {% endif %}
    </div>
</div>
</body>
</html>