<!DOCTYPE html>
<html lang="zh">

<script type="text/javascript">
        this.userId = {{user.ID}}
        this.relation = {{relation}}
        this.re_relation = {{re_relation}}
        this.ubg = "{{user.bgImage}}"
        this.home = {{home|int}}
        this.style = {{user.style|default('')|tojson}}
</script>

<link href="/static/css/rg_base.css?ver={{css_ver}}" rel="stylesheet" type="text/css" id="rg_base">
<link href="/static/css/rg_config.css?ver={{css_ver}}" rel="stylesheet" type="text/css" id="rg_config">
<link href="/static/css/blog.css?ver={{css_ver}}" rel="stylesheet" type="text/css">

<script type="text/javascript" src="/static/jquery/jquery.min.js?ver={{js_ver}}"></script>
<!--bg-->
<script type="text/javascript" src="/static/js/rg_base.js?ver={{js_ver}}"></script>
<script type="text/javascript" src="/static/js/bgLayout.js?ver={{js_ver}}"></script>

<script type="text/javascript" src="/static/js/timeUtil.js?ver={{js_ver}}"></script>
<script type="text/javascript" src="/static/js/MimeType.js?ver={{js_ver}}"></script>
<script type="text/javascript" src="/static/js/albumPage.js?ver={{js_ver}}"></script>

<script type="text/javascript" src="/static/js/groupModal.js?ver={{js_ver}}"></script>

<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
<script type="text/javascript" src="/static/js/file.js?ver={{js_ver}}"></script>
<link rel="stylesheet" href="/static/vue-beauty/vue-beauty.css">
<script type="text/javascript" src="/static/vue-beauty/vue-beauty.min.js"></script>

<link rel="stylesheet" href="/static/circle-progress/circle-progress.css">
<script type="text/javascript" src="/static/circle-progress/circle-progress.js"></script>

<script type="text/javascript" src="/static/pinyin/pinyin_dict_notone.js?ver={{js_ver}}"></script>
<script type="text/javascript" src="/static/pinyin/pinyinUtil.js?ver={{js_ver}}"></script>

<script>
    bg_layout_init()
    keyboardInit()
    autoTitleEnable('{{user.title}}', '{{user.desc}}')
    if (isPhoneView()) {
        let css = document.getElementById("rg_base");
        editRule(css.sheet, '.blogListCoverWrapper', 'display:none')
    }
</script>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=1.0, user-scalable=yes"/>
    <title></title>
</head>
<body>

<div class="page_wrapper">

    <div class="main_title_color page_wrapper titleWrapper">
        <h1 class="auto_text pageTitle {% if home %}editEnableWrapper{% endif %}"
            contenteditable="{% if home %}true{%else%}false{%endif%}"
            id='title'
            onblur="editName(this)"
            onfocus="recordName(this)"
            placeholder="博客标题">
            {{-user.title-}}
        </h1>
        <h3 class="auto_text pageTitle {% if home %}editEnableWrapper{% endif %}"
            contenteditable="{% if home %}true{%else%}false{%endif%}"
            id='desc'
            onblur="editDesc(this)"
            onfocus="recordDesc(this)"
            placeholder="博客描述">
            {{-user.desc-}}
        </h3>
    </div>


    {%- if user -%}
    <div style="margin-bottom: 20px; opacity: 0" class="toolBarWrapper">
        <a id="tool-0" class="toolBarItem toolBarItem-selected" onclick="onChangeToolBar(this)">动态</a>
        <a id="tool-1" class="toolBarItem" onclick="onChangeToolBar(this)">相册</a>
        <a id="tool-2" class="toolBarItem" onclick="onChangeToolBar(this)">归档</a>
    </div>

    <div id="rg_content" style="opacity: 0"></div>

    <script type="text/javascript">

        $(function () {
            $('.toolBarWrapper').animate({opacity: 1}, 1000)
            $('#rg_content').animate({opacity: 1}, 1000)
            let contentId = getContentIdCookie()
            let tools = []
            if (contentId) {
                tools = $('#{0}'.format(contentId))
            }
            if (tools.length) {
                loadContent(tools[0])
            } else {
                loadContent($('#tool-0')[0])
            }
        })

        function onChangeToolBar(e) {
            loadContent(e, false)
        }

        function onChangeLoginToolBar(e) {
            loadContent(e, true)
        }

        function loadContent(e, needLogin) {
            setContentIdCookie(e.id)
            let url = '/blog/home/{{user.ID}}'
            switch (parseInt(e.id.split('-')[1])) {
                case 0:
                    url = '/blog/home/{{user.ID}}'
                    break;
                case 1:
                    url = '/photo/{{user.ID}}'
                    break;
                case 100:
                    if (that.home) {url = '/file/user/Desktop'}
                    break;
                case 2:
                    url = '/blog/view/{{user.ID}}'
                    break;
                case 3:
                    if (that.home) {url = '/user/friends'}
                    break;
            }
            $(".toolBarItem-selected").removeClass('toolBarItem-selected')
            $(e).addClass('toolBarItem-selected')
            rgLoadContent(url, needLogin)
        }

        function configHeight() {
            $('#rg_content').css('minHeight', '{0}px'.format(scH*0.8))
        }
        configHeight()
        $(window).resize(configHeight);
    </script>
    {%- endif -%}
</div>
</body>
</html>