<!DOCTYPE html>
<html lang="zh">

<script type="text/javascript">
        this.pageCount = {{pageCount}}
        this.artSum = {{count}}
        this.pageSize = {{pageSize}}
        this.nowPage = {{nowPage}}
        this.userId = {{user.ID}}
        this.relation = {{relation}}
        this.re_relation = {{re_relation}}
        this.ubg = "{{user.bgImage}}"
        this.style = {{user.style|default('')|tojson}}

        function goto_blog(e) {
            let url = e.id
            if (!url) {
                url = e.attributes.name.value
            }
            url = '/blog/art/' + url
            window.open(url)
        }
</script>

<link href="/static/css/rg_base.css" rel="stylesheet" type="text/css" id="rg_base">
<link href="/static/css/rg_config.css" rel="stylesheet" type="text/css" id="rg_config">
<link href="/static/css/blog.css" rel="stylesheet" type="text/css">

<script type="text/javascript" src="/static/jquery/jquery.min.js"></script>

<!--bg-->
<script type="text/javascript" src="/static/js/rg_base.js?ver=1"></script>
<script type="text/javascript" src="/static/js/bgLayout.js?ver=1"></script>
<!--page-->
<link href="/static/css/pagination.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="/static/js/pagination.js"></script>

<script type="text/javascript" src="/static/js/timeUtil.js"></script>
<script>
    autoTitleEnable('{{user.title}}', '{{user.desc}}')
</script>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=1.0, user-scalable=yes"/>
    <title></title>
</head>
<body>
<script>
    if (isPhoneView()) {
        let css = document.getElementById("rg_base");
        editRule(css.sheet, '.blogListCoverWrapper', 'display:none')
    }
</script>
<div class="boprt a-control" style="top: 20px; opacity: 1;">
    <ul>
        <li>
            <form>
                {%- if home -%}
                <a href="/blog/edit" class="boprt09" target="_top"><em>写日志</em></a>
                {%- elif authed and user -%}
                <a id="followItem" target="_top"><em></em></a>
                {%- endif -%}
            </form>
        </li>
        <li>
            <form>
                {%- if home -%}
                <a href="/user/set" class="boprt05" target="_top"><em>设置</em></a>
                {%- elif authed -%}
                <a href="/" class="boprt01" target="_top"><em>回家</em></a>
                {%- else -%}
                <a href="/" class="boprt01" target="_top"><em>登陆</em></a>
                {%- endif -%}
            </form>
        </li>
    </ul>
</div>

<div class="page_wrapper">

    <div class="main_title_color page_wrapper titleWrapper">
        <h1 class="auto_text pageTitle {% if home %}editEnableWrapper{% endif %}"
            contenteditable="{% if home %}true{%else%}false{%endif%}"
            id='title'
            onblur="editName(this)"
            onfocus="recordName(this)"
            placeholder="博客标题">
            {{-user.title-}}
        </h1>
        <h3 class="auto_text pageTitle {% if home %}editEnableWrapper{% endif %}"
            contenteditable="{% if home %}true{%else%}false{%endif%}"
            id='desc'
            onblur="editDesc(this)"
            onfocus="recordDesc(this)"
            placeholder="博客描述">
            {{-user.desc-}}
        </h3>
    </div>


    {%- if user -%}
    <div style="margin-bottom: 20px;" class="toolBarWrapper">
        <a href="/blog/{{user.ID}}/" class="toolBarItem toolBarItem-selected">动态</a>
        <a href="/photo/{{user.ID}}/" class="toolBarItem">相册</a>
        <a href="/blog/view/{{user.ID}}/" class="toolBarItem">归档</a>
        {% if home %}
        <a href="/user/friends" class="toolBarItem">好友</a>
        {% endif %}
    </div>
    {%- endif -%}

    <div class="wrapperLR wrapperBg wrapperPadding">
        <div class="wrapperFull">
            {%- for item in list -%}
            <div class="wrapperLR wrapperItem wrapperItemBg">
                <div class="">
                    <div class="articleTitle auto_text" id="{{item.id}}" onclick="goto_blog(this)">
                        {%- if item.title -%}
                            {{ item.title }}
                        {%- else -%}
                            <script>
                            var timeStamp = {{item.addtime}}
                            var time = (new Date(timeStamp)).Format("yyyy年 MM月 dd日")
                            var dom = document.getElementById('{{item.id}}')
                            dom.innerText = time
                            </script>
                        {%- endif -%}
                    </div>
                    <div class="auto_text artSubTitle"> {{ item.summary }}</div>
                    <div class="auto_text artSubTitle secondTextColor" style="margin-top: 10px">
                    <script>
                        var timeStamp = {{item.addtime}}
                        var time = (new Date(timeStamp)).Format("yyyy-MM-dd hh:mm:ss")
                        var dom = document.getElementById('{{item.id}}').parentElement.getElementsByClassName('auto_text artSubTitle secondTextColor')[0]
                        dom.innerText = time
                    </script>
                </div>
                </div>
                <div class="blogListCoverWrapper">
                    <div class="bgNoRepeatImage blogListCover"
                         style='background-image: url("{{item.cover|safe}}");'
                         onclick="goto_blog(this)"
                         name="{{item.id}}"
                    >
                    </div>
                </div>
            </div>

            {% endfor %}
            {% if count == 0 %}
                <div class="nothing">
                    什么都没有
                </div>
            {% else %}
            <div class="ht-page"></div>
            <script>
                function pageChange(i) {
                    var nextUrl = '?' + 'page=' + (i + 1)
                    window.location.href = nextUrl
                }

                Pagination.init($(".ht-page"), pageChange);
                Pagination.Page($(".ht-page"), this.nowPage - 1, this.artSum, this.pageSize);
            </script>
            {% endif %}
        </div>
    </div>
</div>
</body>
</html>