<!DOCTYPE html>
<html lang="zh">

<link href="/static/css/rg_base.css" rel="stylesheet" type="text/css" id="rg_base">
<link href="/static/css/rg_config.css" rel="stylesheet" type="text/css" id="rg_config">
<link href="/static/css/login.css" rel="stylesheet" type="text/css">
<link href="/static/css/weui-for-work.min.css" rel="stylesheet" type="text/css">

<script type="text/javascript" src="/static/js/login.js?ver=1"></script>
<script type="text/javascript" src="/static/jquery/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/rg_base.js?ver=1"></script>

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=1.0, user-scalable=yes"/>
    <title>登陆</title>
</head>
<body>
<div class="hina_bg"></div>
<div class="page_wrapper main_title_color">
    <div class="page_center_wrapper">
        <div style="width: 75%; min-width: 120px; max-width: 260px; background-color: rgba(0,0,0,0); display: flex; flex-direction: column">

            <div style="font-size: 35px;">BLOG</div>

            <div class="weui-cells" style="border-radius: 8px">
                <div class="weui-cell">
                    <div class="weui-cell__bd">
                        <input class="weui-input login_input" placeholder="用户名" id="user" type="text"/>
                    </div>
                    <div class="weui-cell__ft">
                        <div class="login_button" id="login_btn_user"></div>
                    </div>
                </div>

                <div class="weui-cell" id="pwd_wapper">
                    <div class="weui-cell__bd">
                        <input class="weui-input login_input" placeholder="密码" id="pwd" type="password"/>
                    </div>
                    <div class="weui-cell__ft">
                        <div class="login_button" id="login_btn_pwd"></div>
                    </div>
                </div>
            </div>

            <div>
                <div id="login_tip" class="login_tip main_title_color"></div>
            </div>

            <div>
                <a style="cursor: pointer; float: right;">忘记密码</a>
            </div>
            <div style="text-align: center">
                <div class="si-remember-password">
                    <input type="checkbox" id="remember-me" class="form-choice form-choice-checkbox" onchange="checkRemember(this)" >
                    <label class="form-label" for="remember-me">
                        <span class="form-choice-indicator"></span>记住登陆状态
                    </label>
                </div>
            </div>

            <div>
                <div style="text-align: center; margin-top: 30px">
                    <!--<div style="padding: 0 1px;margin: 20px 0">-->
                        <!--<div class="main_title_color_background" style="height: 1px;"></div>-->
                    <!--</div>-->
                    <div>
                        <span id="mode_desc">没有账号？</span>
                        <a id="mode_action" style="cursor: pointer" onclick="switchMode()">立即注册。</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    preventEnterEnable(true, function (e) {
        if (e.target.id === 'user') {
            check_user()
        } else if (e.target.id === 'pwd') {
            login_user()
        }
    })

    var that = this
    $(function () {

        that.registMode = false
        that.remember = 0

        login_hidden('#pwd_wapper', true, 0, null)

        $('#login_btn_user').click(check_user)
        $('#login_btn_pwd').click(login_user)

        $("#user").on("input", function (e) {
            if (that.lastvalue === e.target.value) {
                return
            }
            that.lastvalue = e.target.value

            hidePwdInputView()
            show_tip('')
        });
    })

    function hidePwdInputView(clearText=false) {
        $('#login_btn_user').removeClass('weui-loading')
        $('#login_btn_user').addClass('login_button')

        $('#login_btn_pwd').removeClass('weui-loading')
        $('#login_btn_pwd').addClass('login_button')


        login_hidden('#pwd_wapper', true, 200, null)
        if (clearText)
            $('#pwd').val('')
    }

    function check_user() {

        let username = $('#user').val()
        if (!username || username.length <= 0) {
            show_tip('请输入用户名️')
            return
        }

        $('#login_btn_user').removeClass('login_button')
        $('#login_btn_user').addClass('weui-loading')

        check(username, function (data) {

            $('#login_btn_user').removeClass('weui-loading')

            let showPwd = (data.code === 1000 && !that.registMode) || (data.code === 1001 && that.registMode)

            if (showPwd) {
                login_hidden('#login_btn_pwd', true, 0, function () {
                    login_hidden('#pwd_wapper', false, 200, function () {
                    $('#pwd').focus()
                    login_hidden('#login_btn_pwd', false, 80, function () {
                        if (that.registMode) {
                            show_tip('请输入密码以完成注册')
                        } else {

                        }
                    })
                })
                })
            } else {
                login_hidden('#login_btn_pwd', true, 0, function () {
                    if (that.registMode) {
                    show_tip('该用户已注册 请直接登陆')
                } else {
                    show_tip('该用户未注册 请点击立即注册')
                }
                })
            }
        })
    }

    function switchMode() {

        that.registMode = !that.registMode
        if (this.registMode) {
            $('#mode_desc').text('已有账号，')
            $('#mode_action').text('去登陆。')
        } else {
            $('#mode_desc').text('没有账号？ ')
            $('#mode_action').text('立即注册。')
        }

        hidePwdInputView(true)
        show_tip('')

        let username = $('#user').val()

        if (that.registMode) {
            if (!username.length) {
                $('#user').focus()
                login_hidden('#pwd_wapper', true, 200, function () {
                    show_tip('请输入注册用户名')
                })
            } else {
                check_user()
            }
        } else {
            if (!username.length) {
                $('#user').focus()
                login_hidden('#pwd_wapper', true, 200, function () {
                    show_tip('请输入登陆用户名')
                })
            } else {
                check_user()
            }
        }
    }

    function login_user() {
        let username = $('#user').val()
        let pwd = $('#pwd').val()

        if (!username.length || !pwd.length) {
            show_tip('用户名密码不能为空')
            return;
        }


        $('#login_btn_pwd').removeClass('login_button')
        $('#login_btn_pwd').addClass('weui-loading')

        if (that.registMode) {
            regist(username, pwd, that.remember, function (data) {

                $('#login_btn_pwd').removeClass('weui-loading')

                code = data.code
                if (code == 1000) {
                    // login ok, redirt
                    this.redirt()
                } else if (code == 1001) {
                    $('#login_btn_pwd').addClass('login_button')
                    show_tip('服务器异常🙆‍♀️')
                }
            })
        } else {
            login(username, pwd, that.remember, function (data) {

                $('#login_btn_pwd').removeClass('weui-loading')

                code = data.code
                if (code == 1000) {
                    // login ok, redirt
                    this.redirt()
                } else if (code === 1001) {
                    $('#login_btn_pwd').addClass('login_button')
                    show_tip('密码不正确🙆‍♀️')
                } else {
                    $('#login_btn_pwd').addClass('login_button')
                    show_tip('服务器异常🙆‍♀️')
                }
            })
        }
    }

    function redirt() {
        let default_href = 'blog'
                    let prevLink = document.referrer;
                    if ($.trim(prevLink) === '') {
                        location.href = default_href
                    } else {
                        if (prevLink.indexOf('www.example.com') === -1) {	//来自其它站点
                            location.href = default_href
                        }
                        if (prevLink.indexOf('register.html') !== -1) {		//来自注册页面
                            location.href = default_href
                        }
                        location.href = prevLink
                    }
    }

    function login_hidden(id, hide, time, callback) {
        if (hide) {
            $(id).hide(time, callback)
        } else {
            $(id).show(time, callback)
        }
    }

    function checkRemember(e) {
        that.remember = e.checked?1:0
    }

    function show_tip(tip) {
        $('#login_tip').html(tip)
    }
</script>
</body>
</html>