<!DOCTYPE html>
<html lang="zh">

{%- macro selectIfNeed(selectedV)-%}{%- if album.level == selectedV -%}selected="selected"{%- endif -%}{%- endmacro -%}

<script>
    this.isHome = parseInt("{{home|int}}")
    this.albumId = "{{album.id}}"
    this.coverId = "{{album.cover}}"
    this.iconId = "{{user.iconId}}"
    this.bgId = "{{user.bgId}}"
    this.recordABTitle = "{{album.title}}"
    this.recordABDesc = "{{album.description}}"
    this.albumLevel = "{{album.level}}"
    this.picList = null
</script>

<link href="/static/css/rg_base.css?ver={{css_ver}}" rel="stylesheet" type="text/css" id="rg_base">
<link href="/static/css/rg_config.css?ver={{css_ver}}" rel="stylesheet" type="text/css" id="rg_config">
<link href="/static/font-awesome/css/font-awesome.min.css?ver={{css_ver}}" rel="stylesheet" type="text/css">

{%- if album -%}
<link rel="stylesheet" type="text/css" href="/static/css/weui-for-work.min.css?ver={{css_ver}}" />
<link rel="stylesheet" type="text/css" href="/static/css/photos.css?ver={{css_ver}}" />

<script type="text/javascript" src="/static/js/rgbaster.min.js?ver={{js_ver}}"></script>

<!--select-->
<link rel="stylesheet" type="text/css" href="/static/select/css/cs-select.css?ver={{css_ver}}" />
<link rel="stylesheet" type="text/css" href="/static/select/css/cs-skin-border.css?ver={{css_ver}}" />

<script type="text/javascript" src="/static/select/js/classie.js?ver={{js_ver}}"></script>
<script type="text/javascript" src="/static/select/js/selectFx.js?ver={{js_ver}}"></script>

<!--page-->
<link href="/static/css/pagination.css?ver={{css_ver}}" rel="stylesheet" type="text/css">
<script type="text/javascript" src="/static/js/pagination.js?ver={{js_ver}}"></script>

<script type="text/javascript" src="/static/js/photosPage.js?ver={{js_ver}}" async="async"></script>

{%- endif -%}
<style>
    .wrapperBg a.back:any-link {
        color: initial;
        text-decoration: none;
        cursor: pointer;
    }
    .back {
        cursor: pointer;
        padding-left: {% if album %}0{% else %}20{% endif %}px;
    }
</style>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=1.0, user-scalable=yes"/>
    <title>相册</title>
</head>
<body>

<div class="wrapperBg {% if album %} wrapperPadding {% else %} wrapperPaddingOnlyTop {% endif %}">
    <div style="margin-bottom: 20px; margin-top: 10px">
        <a onclick="rgLoadContent('/photo/{{user.ID}}')" class="back">返回</a>
    </div>

    {%-if album-%}
    <h2 class="auto_text"
        contenteditable="{% if home %}true{% else %}false{% endif %}"
        onblur="onBlurTitle(this)"
        style="margin-bottom: 10px;">
        {{-album.title-}}
    </h2>
    <a class="auto_text"
       contenteditable="{% if home %}true{% else %}false{% endif %}"
       onblur="onBlurDesc(this)"
       style="margin-top: 20px;padding-left: 3px;display: block">
        {{-album.description-}}
    </a>

    {%- if home and user -%}
    <div class="rgButton" style="width: 200px;min-height: 40px; margin-top: 20px;">上传照片</div>

    <div class="privacyWrapper" style="margin-top: 20px;">隐私设置 :
        <select id="privacy" style="min-height: 40px" class="cs-select cs-skin-border">
            <option value="0" {{selectIfNeed(0)}}>所有人可见</option>
            <option value="1" {{selectIfNeed(1)}}>仅好友可见</option>
            <option value="2" {{selectIfNeed(2)}}>仅自己可见</option>
        </select>
        {%- if home|int -%}
        <script>
            $(function () {
                let album_level = that.albumLevel
                new SelectFx($('#privacy')[0], {
                    stickyPlaceholder: true,
                    onChange: function (val) {
                        if (album_level === val)
                            return
                        $.ajax({
                            type: 'POST',
                            dataType: "json",
                            url: "/photo/album/edit",
                            data: {
                                'id': that.albumId,
                                'level': val
                            },
                            success: function (result) {
                                if (result.code !== 1000) {
                                    alert('修改失败')
                                } else {
                                    album_level = val
                                }
                            },
                            error: function () {
                            },
                        })
                    }
                });
            })
        </script>
        {%- endif -%}
    </div>

    <div style="height: 1px;width: 100%; margin-top: 20px;background-color: rgba(255,255,255,0.6)">
    </div>
    {%- endif -%}

    <div class="collectionView" style="margin-top: 30px">
        {%- for item in list -%}
        <div id={{item.id}} class="collectionCell collectionWrap wrapperItemBg" style="margin: 10px;">
            <div id="{{item.qUrl}}" name="{{item.url}}" onclick="show_oPic(this)" class="bgNoRepeatImage" style="background-image: url('{{item.url}}'); width: 100%;">

            </div>
            <div id={{item.id|string+'title'}} class="p_title nowrapText">
                {%- if item.title -%}
                {{- item.title -}}
                {%- else -%}
                {{- item.file_name -}}
                {%- endif -%}
            </div>
            <div id={{item.id|string+'description'}} class="p_desc nowrapText">
                {{-item.description-}}
            </div>
            <div class="p_desc nowrapText secondTextColor">
                <script>
                    var timeStamp = '未知';
                    {% if item.exif_timestamp %}
                    timeStamp = (new Date({{item.exif_timestamp}})).Format("yyyy MM dd hh:mm:ss")
                    {% endif %}
                    var dom = document.getElementById('{{item.id}}').getElementsByClassName('p_desc nowrapText secondTextColor')[0]
                    dom.innerText = '拍摄时间:' + timeStamp
                </script>
            </div>
            <div class="p_desc nowrapText secondTextColor" style="margin-top: 10px">
                上传时间:
                <script>
                    var timeStamp = {{item.timestamp}}
                    var time = (new Date(timeStamp)).Format("yyyy MM dd hh:mm:ss")
                    var dom = document.getElementById('{{item.id}}').getElementsByClassName('p_desc nowrapText secondTextColor')[1]
                    dom.innerText = time
                </script>
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="ht-page"></div>
    <script>
        function pageChange(i) {
            rgLoadContent('/photo/{0}/{1}?page={2}'.format(that.userId, that.albumId, i+1))
        }
        Pagination.init($(".ht-page"), pageChange);
        Pagination.Page($(".ht-page"), parseInt("{{nowPage}}" - 1), parseInt("{{count}}"), parseInt("{{pageSize}}"));
        Pagination.bindListener($(".ht-page"), function (page) {
            $("html,body").animate({scrollTop: $(".toolBarWrapper").offset().top - 60}, 0);
        }, false)
    </script>
    {%- else -%}
    <div class="nothing"><a style="background-color: rgba(255,255,255,0.3);">内容不见了</a></div>
    {%- endif -%}
</div>

<div class="fullScreen" style="display: none;">
    <img id="last_button" src="/static/image/last.png" class="bgNoRepeatImage" onclick="last_oPic()">
    <img id="display_img" src="">

    <i class="weui-loading"></i>

    <img id="next_button" src="/static/image/next.png" class="bgNoRepeatImage" style="right: 0;"
         onclick="next_oPic()">
    <div class="display_img_text_wrapper">
        <a id="display_img_title" class="auto_text img_text {%if home %}rich rich_black{%- endif -%}" placeholder="图片标题"
           onblur="onBlurPicInfo(this)"></a>
        <a id="display_img_desc" class="auto_text img_text {%if home %}rich rich_black{%- endif -%}" placeholder="图片描述" style="font-size: 12px"
           onblur="onBlurPicInfo(this)"></a>
        <a class="auto_text img_text" style="font-size: 7px; margin-top: 15px; text-align: right; padding-right: 2%">
            <i class="fa fa-location-arrow fa-lg" id="display_img_exif" style="line-height: 1.25em;padding: 5px"> </i>
        </a>
    </div>
    <img src="/static/image/close.png" class="close" onclick="dismiss_oPic()">

    <div style="min-height: 40px;
             margin-top:10px;
             padding-right: 55px;
             float: right">
        <div id="display_img_privacy" style="display: inline-block; font-weight: 700;">
        </div>


        <div class="nav">
        <span>更多
            <ul>
                {%- if home and user -%}
                <li onclick="coverSet()">设为封面</li>
                <li onclick="iconSet()">设为头像</li>
                <li onclick="bgSet()">设为背景</li>
                <li>移动到...</li>
                <li onclick="delPic()">删除图片</li>
                {%- endif -%}
                <li onclick="showOriginal()">查看原图</li>
            </ul>
        </span>
        </div>
    </div>
</div>
</body>
</html>